<launch>

    <param name="cs_test_box_description"
        command="$(find xacro)/xacro --inorder '$(find cs_test)/urdf/cs_test_box.xacro'" /> 

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model graspbox -param cs_test_box_description"/> 

</launch>